/* --- RESET --- */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, h4, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Montserrat';
}

ul {
  list-style: none;
}

/* --- BODY --- */

body {
  background-color: #2d2d2d;
  font-family: 'Montserrat';
  color: lightgrey;
  font-weight: 400;
  font-size: 14px;
}

h2 {
  font-size: 24px;
  margin: 10px 0;
  text-align: center;
}

h4 {
  color: #2EBD59;
  font-size: 14px;
}

.container {
  background-color: black;
  display: block;
  padding: 10px;
  width: 600px;
  margin: 15px auto 40px auto;
  min-height: 500;
  box-shadow: -2px 5px 5px 1px #242424;
  -webkit-box-shadow: -2px 5px 5px 1px #242424;
  -moz-box-shadow: -2px 5px 5px 1px #242424;
  -o-box-shadow: -2px 5px 5px 1px #242424;
}

button.basic-button {
  background-color: #2EBD59;
  cursor: pointer;
  color: white;
  padding: 6px 10px;
  border-radius: 50px;
  white-space: nowrap;
}

button.basic-button:not(:disabled):hover {
  background-color: #61DC86;
}

button:disabled {
  background-color: #2d2d2d;
  cursor: default;
}

.login {
  display: block;
  margin: 5px auto;
  text-align: center;
  width: 100%;
}

.playlist-creator {
  border: 1px solid #2d2d2d;
  padding: 10px;
  margin: 10px 0;
  position: relative;
}

.playlist-creator > button {
  display: block;
  margin: 10px auto 0 auto;
}

.artist-seed-list {
  display: inline-block;
  width: 45%;
}

.playlist-options {
  display: block;
  width: 45%;
}

textarea {
  height: 120px;
  resize: none;
  width: 100%;
}

.artist-seed-generator {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  text-align: center;
  width: 300px;
}

label {
  display: block;
  margin: 10px 0;
}

input[type="range"] {
  display: block;
  width: 100%;
}

input[type="text"] {
  display: block;
  margin: 5px auto;
  width: 90%;
}

textarea, input[type="text"] {
  background-color: white;
  color: black;
  font-family: 'Open Sans';
  padding: 5px;
}

.playlist-buttons {
  display: block;
  margin: 10px auto;
  text-align: center;
  width: 300px;
}

.playlist-buttons > button {
  margin: 0 5px;
}

table {
  display: block;
  width: 600px;
  text-align: left;
}

th.track, div.track {
  width: 50px;
}

th.artist, div.artist {
  width: 210px;
}

th.song, div.song {
  width: 300px;
}

th.remove, div.remove {
  width: 40px;
}

tr:hover button.remove-button {
  display: inline;
}

button.remove-button {
  border: 1px solid lightgrey;
  border-radius: 50%;
  padding: 0 3px;
  cursor: pointer;
  line-height: 99%;
  display: none;
}

button.remove-button:hover {
  border: 1px solid white;
}

button.remove-button:active {
  background-color: lightgrey;
  color: black;
}

td > div {
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

